<div class="row d-flex text-center myfooter" style="background-color: #594a3c; padding: 2%; padding-top: 5%">
    <div class="col col-12 col-sm-4 col-md-4 col-lg-3 bottom">
        <div>
            <h2 class="fs-2 title">Visit us</h2>
        </div>
        <div>
            <p class="text">Wienerstrasse 28, 14</p>
        </div>
        <div>
            <p class="text">John_doe@photograph.com</p>
        </div>
    </div>
    <div class="col col-12 col-sm-2 col-md-3 col-lg-3 bottom">
        <div>
            <h2 class="fs-2 title">Call us</h2>
        </div>
        <div>
            <p class="text">Vienna</p>
        </div>
        <div>
            <p class="text">+43(22)111222</p>
        </div>
    </div>
    <div class="col col-12 col-sm-2 col-md-2 col-lg-3 bottom">
        <div>
            <h2 class="fs-2 title" style="text-decoration: none">Links</h2>
        </div>
        <div class="bottom-a">
            <a class="text" href="/">Home</a>
        </div>
        <div class="bottom-a">
            <a class="text" href="about"> About me</a>
        </div>
        <div>
            <a class="text" href="contact"> Contact us</a>
        </div>
    </div>
    <div class="col col-12 col-sm-4 col-md-3 col-lg-3 align-items-center bottom">
        <div>
            <h2 class="fs-2 title">Follow us</h2>
        </div>
        <div class="bottom-img">
            <img src="../../assets/icons/f.png" alt="" class="image" />
        </div>
        <div class="bottom-img">
            <img src="../../assets/icons/in.png" alt="" class="image" />
        </div>

        <div class="bottom-img">
            <img src="../../assets/icons/tw.png" alt="" class="image" />
        </div>
    </div>

    <div class="" style="padding-top: 4%">
        <p class="text">
            Copyright <span>&copy;</span> 2021 John Doe. All rights reserved
        </p>
    </div>
</div>
