.myfooter {
    position: relative;
    top: 70vh;
}

.bottom {
    padding-bottom: 20px;
}

.bottom-img {
    padding-bottom: 10px;
}

.image {
    width: 10%;
}

@media screen and (max-width: 576px) {
    .image {
        width: 8%;
    }
}

a {
    text-decoration: none;
    color: #e4eaf2;
}

h2,
p {
    color: #d9d7d7;
}

p,
a {
    font-size: 1.5rem;
}

h2 {
    padding-bottom: 15px;
}

.text {
    font-family: "Scheherazade", serif;
}

.title {
    font-family: "Cinzel Decorative", cursive;
}
