.bg-nav {
    opacity: 80%;
}

.bg-image {
    background: url(https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_960_720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

#navbarDropdown{
  color: white;
  font-size: 20pt;
}

.mydropdown{
  background-color: #594A3C;
}

#subtitle-navbar{
  font-size: 30pt;
}

#title-navbar{
  font-size: 60pt;
  color: #594A3C;
}

#photography{
  color: #E4EAF2;
}

@media only screen and (min-width: 360px) and (max-width: 767px){

  #title-navbar{
    font-size: 45pt;
  }

  #photography{
    font-size: 30pt;
  }

  #subtitle-navbar{
    font-size: 20pt;
  }
}

/* xtra small */
@media only screen and (max-width: 359px) {
  #title-navbar{
    font-size: 35pt;
  }

  #photography{
    font-size: 20pt;
  }

  #subtitle-navbar{
    font-size: 15pt;
  }
}