<div class="mycontainer"> 
    <div class="full-view"></div>
    <div class="preview-list">
        <ul>
            <li *ngFor = "let pic of pics">
                <input type="radio" id={{pic.id}} name="gallery-group">
                <label for={{pic.id}}>
                    <div class="tab">
                        <img
                            src={{pic.img}} />
                    </div>
                </label>
                <div class="content">
                    <img
                        src={{pic.img}} />
                </div>
            </li>
            
        </ul>
    </div>
</div>

<div class="mysmallcontainer d-flex flex-column">
    <img class="mt-3 mb-1" *ngFor = "let pic of pics" src={{pic.img}}>
</div>
