<div class="container text-center mt-5 mysection" id="homesection">

  <h3 class="mb-5 color mytitle"> Fine-Art Photographer Vienna</h3>
  <div class="d-flex align-items-center">
    <div>
      <p class="mytext ms-5 me-5">
        John Doe is an English fine-art photographer living in Vienna, Austria and is widely recognised as one of
        the world's leading fine-art nude photographers today. The emotions his pieces convey are rarely found in this
        genre
        especially considering he rarely shows faces in his pieces. His pieces are often minimalistic yet complicated
        and
        often toned with old-fashioned hues. <br><br>

        'Most of my subjects are normal people, like you and me, and I aspire to bring their personalities into my
        pieces. I
        feel this gives my photos a very personal and emotional connection.'
      </p>
      <button class="btn mt-3" routerLink="contact">Get In Touch</button>
    </div>
    <img class="me-5 ms-5" id="homesection-img" src="./../../assets/imgs/People/people1.jfif" alt="">
  </div>



  <hr>

  <h3 class="mb-5 mt-5 mytitle">GREAT PHOTOS, HAPPY CLIENTS</h3>

  <p class="mytext ms-5 me-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsa iusto amet non,
    accusantium a
    ipsum ratione incidunt officiis vel voluptatum, deleniti aut, ducimus voluptatem distinctio quos voluptatibus
    repellendus quaerat! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio quo aliquid quibusdam assumenda
    illo doloremque, hic nostrum voluptates impedit molestiae similique quasi dignissimos expedita quaerat labore fugiat
    repellendus facilis. Numquam?</p>

  <button class="btn mt-3" routerLink="contact">Get In Touch</button>
</div>

<h3 class="mb-5 mt-5 my-dark-title text-center" id="gallery-title">Gallery</h3>

<div class="container" id="accordion">
  <div class="card">
    <img routerLink="/gallery/events" src="./../../assets/imgs/Events/event4.jfif">
    <div class="card__head mytitle">Events</div>
  </div>
  <div class="card">
    <img routerLink="/gallery/nature" src="./../../assets/imgs/Nature/animals4.jfif">
    <div class="card__head mytitle">Nature</div>
  </div>
  <div class="card">
    <img routerLink="/gallery/people" src="./../../assets/imgs/People/people5.jfif">
    <div class="card__head mytitle">People</div>
  </div>
  <div class="card">
    <img routerLink="/gallery/urban" src="./../../assets/imgs/Urban/urban3.jfif">
    <div class="card__head mytitle">Urban</div>
  </div>
  <div class="card">
    <img routerLink="/gallery/wedding" src="./../../assets/imgs/Wedding/wedding5.jfif">
    <div class="card__head mytitle">Wedding</div>
  </div>
</div>


<app-customer></app-customer>
<app-testimonials></app-testimonials>