<div class="container" style="margin-top: 5%; margin-bottom: -25em">
    <div class="row justify-content-center">
        <div class="col col-12 col-md-7 col-lg-8" style="background: #594a3c; color: white; border-radius: 40px">
            <div class="d-flex align-items-center">
                <p class="name fs-5 title">Kira Whittle</p>
            </div>
            <p>
                <span style="color: #401a0d">&#9733; &#9733; &#9733; &#9733; &#9733;</span><span class="span text">1
                    year ago</span>
            </p>
            <h4 class="text-width">Wedding - Thomas and Kira - June 2020</h4>
            <p class="text">
                " I'd recommend John Doe highly. His pictures of our wedding were amazing and we did not notice him
                around, only when it came to doing the family shots which were over in a flash. The album is now the
                centerpiece of our living room and we relive
                the day each time we look at it. Thanks so much!"
            </p>
        </div>
        <div class="col col-12 col-md-4 col-lg-3" style="background: #e4eaf2; border-radius: 40px">
            <div class="d-flex align-items-center">
                <p class="name fs-5 title" style="padding-top: 6%; padding-left: 5%">
                    Jonathan Walters
                </p>
            </div>
            <p>
                <span style="color: #401a0d">&#9733; &#9733; &#9733; &#9733; &#9733;</span><span class="span text">5
                    years ago</span>
            </p>
            <h4 class="text-width">Chief Risk Officer, Standard life, May 2016</h4>
            <p class="text">
                "Hello John Doe, Just wanted to let you know I had seen the ACCA proposed articles and photos, thanks
                for being so patient with me and pictures look really well thanks to you, John Doe."
            </p>
        </div>

        <div class="col col-12 col-md-4 col-lg-3" style="background: #e4eaf2; border-radius: 40px">
            <div class="d-flex align-items-center">
                <p class="name fs-5 title" style="padding-top: 6%; padding-left: 5%">
                    Jeanette Harmon
                </p>
            </div>
            <p>
                <span style="color: #401a0d">&#9733; &#9733; &#9733; &#9733; &#9733;</span><span class="span text">2
                    years ago</span>
            </p>
            <h4 class="text-width">Wedding - Tommy and Jeanette - July 2019</h4>
            <p class="text">
                "Love John Doe Photography. He's awesome and an amazing person - just what you need to capture those
                moments of your life that you want to keep forever! Call him now"
            </p>
        </div>
        <div class="col col-12 col-md-7 col-lg-8" style="background: #8c7f77; border-radius: 40px">
            <div class="d-flex align-items-center">
                <p class="name fs-5 title">Patrick Abrams</p>
            </div>
            <p>
                <span style="color: #401a0d">&#9733; &#9733; &#9733; &#9733; &#9733;</span><span class="span text">6
                    months ago</span>
            </p>
            <h4 class="text-width">City Portraits - Dublin - 2021</h4>
            <p class="text">
                "John Doe did our engagement photos a couple years ago and I still go back and look over them again and
                again. He is so patient and makes sure that he knows exactly what kind of pics you are looking for! I
                made my guy travel from Connecticut and I came
                from Chicago to Michigan, just so John could do our photos. He is super down-to-earth and makes sure
                he does everything he can to make you happy, and you get an awesome new friend!"
            </p>
        </div>
        <div class="col col-12 col-md-9 col-lg-9" style="
        background: #594a3c;
        color: white;
        height: 20%;
        border-radius: 40px;
      ">
            <div class="d-flex align-items-center">
                <p class="name fs-5 title">Daniel Clifford</p>
            </div>
            <p>
                <span style="color: #401a0d">&#9733; &#9733; &#9733; &#9733; &#9733;</span><span class="span text">6
                    years ago</span>
            </p>
            <h4 class="text-width">Director of Finance, Medtronic, April 2016</h4>
            <p class="text">
                "John Doe is one of the most talented, creative and easy-to-get-along with photographers that I have
                worked with. Our engagement session was in about 20 F weather and John's patience, energy and
                creativity took us through it. He did an amazing job and
                we loved how natural the pictures came out. He really brought in our personalities into the pictures
                which I feel is one of the special aspects to her photography. Thank you John Doe for making our
                engagement pictures so amazing and memorable!"
            </p>
        </div>
    </div>
</div>