@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Scheherazade&display=swap');

body{
    background-color: #D9D7D7;
}

.mysection{
    background-color: #594A3C;
}

button{
    background-color: #D9D7D7;
    color: #594A3C;
    font-family: 'Scheherazade', serif;
}

.mytitle{
    color: #D9D7D7;
    font-family: 'Cinzel Decorative', cursive;;
}

.my-dark-title{
    color: #594A3C;
    font-family: 'Cinzel Decorative', cursive;;
}

.mytext{
    color: #E4EAF2;
    font-family: 'Scheherazade', serif;
    font-size: x-large;
}
